@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

body {
    font-family: 'Roboto', 'sans-serif';
}

.description_text {
    color: #888888;
}

p {
    color: #FFFFF0;
}

button {
    background-color: #fff;
    border: 1px solid #d5d9d9;
    border-radius: 8px;
    box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
    box-sizing: border-box;
    color: #0f1111;
    cursor: pointer;
    display: inline-block;
    font-family: "Roboto",sans-serif;
    font-size: 13px;
    line-height: 29px;
    padding: 0 10px 0 11px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    width: 100px;
    transition: .2s linear;
}

.button_select {
    background-color: #B71C1C;
    color: #FFFFF0;
}

button:hover {
    background-color: #f7fafa;
}

button:focus {
    border-color: #B71C1C;
    box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
    outline: 0;
}

.positive {
    background-color: #55c51c;
}

.negative {
    background-color: #B71C1C;
}

.selected {
    fill: #f1801e;
}

input {
    background-color: #FFF;
    padding: 4px;
    border: 2px solid #B71C1C;
}
